body {
  margin:0px;
  background-color:rgba(255, 170, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:48px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:368px;
  height:260px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:48px;
}
#u364 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 147, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bubblegum Sans Bold', 'Bubblegum Sans Regular', 'Bubblegum Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:330px;
  width:350px;
  height:120px;
  display:flex;
  font-family:'Bubblegum Sans Bold', 'Bubblegum Sans Regular', 'Bubblegum Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u365_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Bubblegum Sans Bold', 'Bubblegum Sans Regular', 'Bubblegum Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u365.mouseOver {
}
#u365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
